$white: #fff;
$light_bg:#f0f0f0;
$black: #000;
$links: #9e61f9;
$logo_text: #6a0cf5;
$first_span: rgba(106, 12, 245, 0.99);
$second_span: rgba(24, 242, 157, 0.99);
$soon_text: #6a0cf5;
$small_text: #0b0318;
$submit: linear-gradient(95.1deg, #9e61f9 -36.56%, #18f29d 152.95%);
$hero_text: linear-gradient(
  94.8deg,
  rgba(106, 12, 245, 0.99) -5.86%,
  rgba(24, 242, 157, 0.99) 104.43%
);
