@import "./colors";
@import "./helpers";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Poppins;
}

footer {
  height: 220px;
  border-radius: 0px;
  background-color: $footer_bg;
}
