@import "./colorhelpers.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: $main-bg-color;
}

.home {
  margin-bottom: 121px;

    @media screen and (max-width:800px) {
    height: 110vh;
  }

  &_inner {
    .errorpage {
      margin-top: 72px;
    }
  }
}
