@import "./_colors";
@import "./helpers";


* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Poppins;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 10px;
    }
    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      color: $logo_text;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $links;
    inset: 0 6rem;

    li {
      margin-right: 46px;
      cursor: pointer;
    }
  }
}
