@import "./colors";
@import "./helpers";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Poppins;
}

section {
  &.scantru {
    margin-top: 208px;
    .scantru_flex {
      display: flex;
      justify-content: space-between;

      .left_scantru {
        height: 27rem;

        background: linear-gradient(180deg, #6a0cf5 0%, #9f5eff 100%);
        &_inner {
          padding: 4rem 4rem 0 14rem;
          border-radius: nullpx;
          text-align: left;

          .details {
            .scantru_header {
              h3 {
                font-size: 48px;
                font-weight: 500;
                line-height: 55px;
                letter-spacing: 0em;
                color: $white;
              }
            }

            .explaination {
              padding: 15px 0 50px 0;
              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0em;
                color: $white;
              }
            }
          }
        }
      }

      .right_scantru {
        img {
          height: 27rem;
          width: 40rem;
          border-radius: 0px;
        }
      }
    }
  }
}
